body {
    width: 300px; 
    height: 200px; 
    margin: 0;
    padding: 0;
    background-color:rgb(255, 253, 244);
    font-family: "Times New Roman", Times, serif;
}
button{
    font-size: 15px;
    color: white;
    background-color: #8D918D;
    margin: none;
    padding: 11px 11px;
    cursor: pointer;     
    font-family: "Times New Roman", Times, serif;   
    display:block;  
}
button:hover{
    background-color: #636663;        
}
.header {
    padding: 10px; /* some padding */
    text-align: center; /* center the text */
    background: #1B998B; /* green background */
    color: whitesmoke;
}
h1{
    text-align: center;
    text-decoration: underline;
}
.errorText{
    font-weight: bold;
    color: red;
}
.centerButton{
    text-align: center;
}
.optionInfo{
    display: none;
}
button:hover + .optionInfo{
    display: block;
    color: red;
    font-family: "Times New Roman";
}
footer {
    display: flex;
    justify-content: space-between; /* Push items to edges */
    align-items: center;            /* Vertically center if needed */
    padding: 5px;                  /* Optional spacing */
    background-color: darkslategray;
}
